*{
    padding: 0px;
    margin:0px ;
}
.container{ 
    border: 6px solid black;
    width: 1200px;
    margin-left:840;
    margin-right: auto;
}
.main-header{
    background-color:rgb(29, 29, 158);
    padding: 5px;
}
.anchor{
     margin-top:10px;
}

nav a{
    font-size:16px;
    margin-right:3px;
    padding-top:20px ;
}
a{
    text-decoration:none ;
    margin: 15px;
    color: rgb(78, 12, 12);
}
a:hover{
    font-size:20px ;
    color:rgb(105, 250, 105);
    font-weight: bold;
}
p{
    line-height:1.5rem ;
}
.main-article{
    flex:3 ;
margin-left:10px ;
}

li{
    list-style: none;
    margin-left:10px ;

}
.related{
    background-color: rgb(180, 173, 173);
    border-top:5px solid rgb(33, 175, 231);
    border-bottom:5px solid rgb(54, 185, 236);
    flex:1;
    }                                             

    .related-title{
    font-size:20px ;
   text-align: center;
     margin-bottom:10px ;
}

.footer{
    clear: both;
    text-align: center;
    background-color:rgb(204, 202, 198);
    padding: 5px;
}

.flexbox{
    display: flex;
    gap:20px ;
}
.flex{
    display: flex;
}
.main-header{
    flex:3 ;
}
